@mixin button {
  width: 103px;
  height: 48px;
  border-radius: 10px;
}

body {
  background-image: url(/assets/svg/background.svg);
  background-size: cover;
}

.cookie-banner {
  z-index: 100;
  position: fixed;
  top: 60px;
  font-family: $font-poppins;
  background-color: $red-color;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  border-radius: 15px;
  font-size: $font-base * 1.5;

  .cookie-svg {
    margin: 0.5rem;
    width: 70px;
    height: 70px;
    background-image: url(/assets/svg/peber.svg);
    background-size: cover;
  }

  .cookie-banner__heading {
    font-weight: 400;
    margin: 0 0 1rem 0;
    font-family: $font-passion;
    font-size: $font-base * 2.7;
  }
  .cookie-banner__text {
    margin: 1rem 0;
    text-align: center;
    font-size: $font-base * 1.5;
  }

  .cookie-btn-wrap {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .cookie-btn__yes {
      background-color: $yellow-color;
      @include button();
    }
    .cookie-btn__no {
      background-color: $red-color;
      @include button();
    }
  }
}
.product-text {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 27em;
  width: 300px;
  color: #FFD707;
  }
  .cards-section {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 37.6em;
  }
  .top-cards {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 1.2em;
  }
  .left-card {
  width: 140px;
  height: 175px;
  margin-right: 1px;
  justify-content: center;
  background-color: #FFD707;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  
  }
  .right-card {
  width: 140px;
  height: 175px;
  margin-left: 40px;
  background-color: #000FA0;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  
  }
  .bottom-cards {
    display: flex;
    // margin-top: 1.5em;
    position: relative;
    top: 1.2em;
    justify-content: center;
  }
  .leftBottom-card {
      width: 140px;
      height: 175px;
      margin-right: 10px;
      background-color: #000FA0;
      box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
      }
      .rightBottom-card {
      width: 140px;
      height: 175px;
      margin-left: 40px;
      background-color: #FFD707;
      box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
      
     }
  .product-img1 {
  margin-left: 29px;
  margin-top: 25px;
  }
  .product-img2 {
    margin-left: 29px;
    margin-top: 25px;
  }
  .product-img3 {
    margin-left: 23px;
    margin-top: 25px;
  }
  .product-img4 {
    margin-left: 29px;
    margin-top: 25px;
  }