@mixin desktopBtn {
  font-size: $font-base * 3;
  width: 159px;
  height: 74px;
}

// body {
//   background-image: url(/assets/svg/background.svg);
//   background-size: cover;
// }

// HEADER //
header {
  .logo-svg {
    height: 101px;
    width: 278px;
  }
  .txt-under-logo {
    width: 611px;
    margin-left: 25rem;
    margin-top: -100px;
    font-size: 32px;
    line-height: 48px;
  }
  .burger-wrap {
    top: 2rem;
    .burger {
      width: 96px;
      height: 13px;
      margin: 3px 10px;
    }
  }
  .content-wrap {
    li {
      a:hover {
        color: white;
      }
    }
  }
}
.menu-open ~ .nav-content {
  width: 100%;
}

// FRONT PAGE VIEW //
.front-view {
  margin: 10rem 5rem 20rem 15rem;

  .txt-beside-picture {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    width: 540px;
    height: 200px;
    font-size: 32px;
    line-height: 48px;
  }
  .too-hot-txt {
    width: 505px;
    height: 80px;
    font-size: 64px;
    line-height: 150px;
  }
  .tp-picture {
    width: 448px;
    height: 654px;
  }
}

// COOKIE BANNER //
.cookie-banner {
  width: 845px;
  height: 532px;
  top: 53%;
  left: 50%;
  margin-top: -225px;
  margin-left: -420px;

  .cookie-svg {
    margin: 1rem;
    width: 104px;
    height: 97px;
  }

  .cookie-banner__heading {
    font-size: $font-base * 6;
    margin: 0;
  }

  .cookie-banner__text {
    margin: 0;
    padding: 0.5rem 0 0 0;
    font-size: $font-base * 3;
    letter-spacing: -0.05em;
  }

  .cookie-btn-wrap {
    padding-top: 5rem;

    .cookie-btn__yes {
      background-color: $yellow-color;
      @include desktopBtn();
    }
    .cookie-btn__no {
      background-color: $red-color;
      @include desktopBtn();
    }
  }
}

footer {
  .social-links {
    i {
      font-size: $font-base * 3.5;
      margin: 0 0.6rem;
    }
  }

  .form-sub {
    label {
      font-size: $font-base * 2;
    }

    .sub-input {
      width: 493px;

      input {
        font-size: $font-base * 1.25;
      }

      button {
        width: 70px;
        padding: 0;

        i {
          font-size: $font-base * 2;
        }
      }
    }
  }
}
