body {
    font-family: "Passion One", sans-serif;
    background-image: url(/assets/svg/background.svg);
    background-size: cover;
  }
  /**
  Nav Styles
  **/
  .nav {
    position: absolute;
    width: 100%;
    height: 100%;
  }