//fonts
$font-poppins: "Poppins", sans-serif;
$font-passion: "Passion One", sans-serif;
$font-base: 1rem;
//color scheme
$base-color: #fff;
$text-color: #000;
$yellow-color: #ffd707;
$blue-color: #000fa0;
$red-color: #e31f1d;
