@import url(c:\Users\Almighty John\Desktop\GitHub\Test\fed21d-grafiska-verktyg-tyrkisk-peber\src\scss\normalize.css);
body {
  background-image: url(/src/assets/svg/background.svg);
  background-size: cover;
}

header {
  /**Hamburger animations**/
}

header nav {
  display: none;
}

header .logo-svg {
  background-image: url(/src/assets/svg/TP_logo.svg);
  height: 61px;
  width: 170px;
  background-size: cover;
  margin: 1rem;
}

header .txt-under-logo {
  color: #fff;
  width: 295px;
  margin-left: -34px;
  top: 82px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

header .burger-wrap {
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  margin: 0;
  z-index: 5;
  cursor: pointer;
}

header .burger-wrap .burger {
  position: relative;
  padding: 0;
  width: 49px;
  height: 7px;
  border-radius: 3px;
  background-color: #ffd707;
  margin: 3px 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .burger-wrap .burger:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header .burger-wrap .burger:nth-child(2) {
  top: 4px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header .burger-wrap .burger:nth-child(3) {
  top: 8px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header .burger-wrap.menu-open .burger:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 3px;
  margin: 0;
}

header .burger-wrap.menu-open .burger:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header .burger-wrap.menu-open .burger:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 16.5px;
  margin: 0;
}

header .content-wrap {
  background-color: #000fa0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 372px;
  width: 100vw;
  margin-top: 1rem;
  margin: 0;
  padding: 0;
}

header .content-wrap li {
  margin: 0.8rem 0;
}

header .content-wrap li a {
  text-decoration: none;
  color: #ffd707;
  font-size: 32px;
  font-family: "Passion One", sans-serif;
  letter-spacing: 1px;
}

.menu-open ~ .nav-content {
  -webkit-animation: fadeBg 0.25s ease-in-out;
          animation: fadeBg 0.25s ease-in-out;
  display: block;
  position: fixed;
  background: #00000066;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
}

@-webkit-keyframes fadeBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  height: 100%;
}

.front-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 1rem 4rem 1rem;
}

.front-view .txt-beside-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  color: #000fa0;
  font-family: "Poppins", sans-serif;
  width: 237px;
  height: 86px;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
}

.front-view .too-hot-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 126px;
  height: 17px;
  font-style: normal;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffd707;
}

.front-view .tp-picture {
  width: 116px;
  height: 169px;
}

.cookie-banner {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: fixed;
  top: 60px;
  font-family: "Poppins", sans-serif;
  background-color: #e31f1d;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.cookie-banner .fire-svg {
  width: 68px;
  height: 63px;
  background-image: url(/src/assets/svg/fire.svg);
  background-size: cover;
  -webkit-transform: rotatez(45deg);
          transform: rotatez(45deg);
  position: absolute;
  z-index: 0;
}

.cookie-banner .cookie-svg {
  margin: 0.5rem;
  width: 68px;
  height: 63px;
  background-image: url(/src/assets/svg/peber.svg);
  background-size: cover;
}

.cookie-banner .cookie-banner__heading {
  font-weight: 400;
  margin: 0 0 1rem 0;
  font-family: "Passion One", sans-serif;
  font-size: 2.5rem;
}

.cookie-banner .cookie-banner__text {
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.cookie-banner .cookie-btn-wrap {
  padding-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookie-banner .cookie-btn-wrap .cookie-btn__yes {
  background-color: #ffd707;
  width: 103px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #000;
  cursor: pointer;
}

.cookie-banner .cookie-btn-wrap .cookie-btn__no {
  background-color: #e31f1d;
  width: 103px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #000;
  cursor: pointer;
}

.cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.cards-section .product-text {
  color: #ffd707;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.cards-section .top-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.cards-section .top-cards .left-card {
  width: 140px;
  height: 175px;
  margin: 10px;
  background-color: #ffd707;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.cards-section .top-cards .product-img1 {
  margin-left: 29px;
  margin-top: 25px;
}

.cards-section .top-cards .right-card {
  width: 140px;
  height: 175px;
  margin: 10px;
  background-color: #000fa0;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.cards-section .top-cards .product-img2 {
  margin-left: 29px;
  margin-top: 25px;
}

.cards-section .bottom-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.cards-section .bottom-cards .leftBottom-card {
  width: 140px;
  height: 175px;
  margin: 10px;
  background-color: #000fa0;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.cards-section .bottom-cards .product-img3 {
  margin-left: 23px;
  margin-top: 25px;
}

.cards-section .bottom-cards .rightBottom-card {
  width: 140px;
  height: 175px;
  margin: 10px;
  background-color: #ffd707;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.cards-section .bottom-cards .product-img4 {
  margin-left: 29px;
  margin-top: 25px;
}

footer {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Passion One", sans-serif;
  color: #fff;
}

footer .social-links {
  margin: 0 0 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .social-links i {
  cursor: pointer;
  padding: 0;
  margin: 0 0.3rem;
  font-size: 1.5rem;
}

footer .form-sub {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5rem 0 0;
}

footer .form-sub label {
  font-size: 14px;
}

footer .form-sub .sub-input {
  height: 20px;
  width: 210px;
  background-color: #000fa0;
  border: 1px #ffd707 solid;
  border-radius: 3px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .form-sub .sub-input input {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
  padding: 0 0 0 5px;
  background-color: #000fa0;
  text-transform: uppercase;
  font-size: 0.5rem;
  border: none;
  width: 100%;
}

footer .form-sub .sub-input button {
  width: 30px;
  cursor: pointer;
  background-color: #000fa0;
  border-left: 1px solid #ffd707;
  border-right: none;
  border-bottom: none;
  border-top: none;
  margin: 0;
  padding: 0;
}

footer .form-sub .sub-input button i {
  color: #000;
  width: 20px;
  height: 17px;
}

@media screen and (min-width: 768px) {
  header {
    /**Hamburger animations**/
  }
  header .logo-svg {
    height: 101px;
    width: 278px;
  }
  header .txt-under-logo {
    width: 343px;
    margin-left: -20px;
    top: 82px;
    font-size: 16px;
    line-height: 24px;
  }
  header .burger-wrap {
    top: 2rem;
  }
  header .burger-wrap .burger {
    width: 96px;
    height: 13px;
  }
  header .burger-wrap.menu-open .burger:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -15px;
    margin: 0;
  }
  .front-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5rem 1rem 7rem 6rem;
  }
  .front-view .txt-beside-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    width: 387px;
    height: 137px;
    font-size: 20px;
    line-height: 30px;
  }
  .front-view .too-hot-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 254px;
    font-size: 32px;
  }
  .front-view .tp-picture {
    width: 232px;
    height: 338px;
  }
  .cookie-banner {
    width: 700px;
    height: 450px;
    top: 40%;
    left: 50%;
    padding: 10px;
    margin-top: -225px;
    margin-left: -360px;
  }
  .cookie-banner .cookie-svg {
    margin: 1.2rem 0 0 0;
    width: 88px;
    height: 81px;
  }
  .cookie-banner .cookie-banner__heading {
    margin: 2rem 0;
  }
  .cookie-banner .cookie-banner__text {
    padding: 2rem 0;
    width: 551px;
  }
  .cookie-banner .cookie-btn-wrap {
    padding-top: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cookie-banner .cookie-btn-wrap .cookie-btn__yes {
    background-color: #ffd707;
    width: 133px;
    height: 62px;
  }
  .cookie-banner .cookie-btn-wrap .cookie-btn__no {
    background-color: #e31f1d;
    width: 133px;
    height: 62px;
  }
  .cards-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
  .cards-section .product-text {
    color: #ffd707;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }
  .cards-section .top-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.5rem;
  }
  .cards-section .top-cards .left-card {
    width: 200px;
    height: 245px;
    margin: 10px;
    background-color: #ffd707;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  }
  .cards-section .top-cards .product-img1 {
    width: 120px;
    margin-left: 40px;
    margin-top: 35px;
  }
  .cards-section .top-cards .right-card {
    width: 200px;
    height: 245px;
    margin: 10px;
    background-color: #000fa0;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  }
  .cards-section .top-cards .product-img2 {
    width: 120px;
    margin-left: 40px;
    margin-top: 35px;
  }
  .cards-section .bottom-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.5rem;
  }
  .cards-section .bottom-cards .leftBottom-card {
    width: 200px;
    height: 245px;
    margin: 10px;
    background-color: #000fa0;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  }
  .cards-section .bottom-cards .product-img3 {
    width: 135px;
    margin-left: 35px;
    margin-top: 35px;
  }
  .cards-section .bottom-cards .rightBottom-card {
    width: 200px;
    height: 245px;
    margin: 10px;
    background-color: #ffd707;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  }
  .cards-section .bottom-cards .product-img4 {
    width: 122px;
    margin-left: 40px;
    margin-top: 35px;
  }
  footer .social-links i {
    font-size: 2.375rem;
  }
  footer .form-sub label {
    font-size: 1.25rem;
  }
  footer .form-sub .sub-input {
    height: 30px;
    width: 315px;
  }
  footer .form-sub .sub-input input {
    font-size: 0.75rem;
  }
  footer .form-sub .sub-input button {
    width: 45px;
    height: 30px;
  }
  footer .form-sub .sub-input button i {
    font-size: 1.5rem;
    width: 45px;
    height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  header .logo-svg {
    height: 101px;
    width: 278px;
  }
  header .txt-under-logo {
    width: 611px;
    margin-left: 25rem;
    margin-top: -100px;
    font-size: 32px;
    line-height: 48px;
  }
  header .burger-wrap {
    top: 2rem;
  }
  header .burger-wrap .burger {
    width: 96px;
    height: 13px;
    margin: 3px 10px;
  }
  header .content-wrap li a:hover {
    color: white;
  }
  .menu-open ~ .nav-content {
    width: 100%;
  }
  .front-view {
    margin: 10rem 5rem 20rem 15rem;
  }
  .front-view .txt-beside-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    width: 540px;
    height: 200px;
    font-size: 32px;
    line-height: 48px;
  }
  .front-view .too-hot-txt {
    width: 505px;
    height: 80px;
    font-size: 64px;
    line-height: 150px;
  }
  .front-view .tp-picture {
    width: 448px;
    height: 654px;
  }
  .cookie-banner {
    width: 845px;
    height: 532px;
    top: 53%;
    left: 50%;
    margin-top: -225px;
    margin-left: -420px;
  }
  .cookie-banner .cookie-svg {
    margin: 1rem;
    width: 104px;
    height: 97px;
  }
  .cookie-banner .cookie-banner__heading {
    font-size: 6rem;
    margin: 0;
  }
  .cookie-banner .cookie-banner__text {
    margin: 0;
    padding: 0.5rem 0 0 0;
    font-size: 3rem;
    letter-spacing: -0.05em;
  }
  .cookie-banner .cookie-btn-wrap {
    padding-top: 5rem;
  }
  .cookie-banner .cookie-btn-wrap .cookie-btn__yes {
    background-color: #ffd707;
    font-size: 3rem;
    width: 159px;
    height: 74px;
  }
  .cookie-banner .cookie-btn-wrap .cookie-btn__no {
    background-color: #e31f1d;
    font-size: 3rem;
    width: 159px;
    height: 74px;
  }
  footer .social-links i {
    font-size: 3.5rem;
    margin: 0 0.6rem;
  }
  footer .form-sub label {
    font-size: 2rem;
  }
  footer .form-sub .sub-input {
    height: 47px;
    width: 493px;
  }
  footer .form-sub .sub-input input {
    font-size: 1.25rem;
  }
  footer .form-sub .sub-input button {
    width: 70px;
    height: 47px;
  }
  footer .form-sub .sub-input button i {
    font-size: 2.5rem;
    width: 70px;
    height: 47px;
  }
}
/*# sourceMappingURL=style.css.map */